body{
    background-color: $body-bg-color;
    overflow-x: hidden;
}
.main-content {
    padding-top: 80px;
    width: 100%;
    max-width: 1152px;
    z-index: 1;
    margin: 0px auto;
    background-color: $content-bg-color;
    padding-left: 60px;
    padding-right: 60px;
    font-family: $main-content-font;
    
  }
  .main-header {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 20px;
    font-weight: 400;
  }
  .nav-forms {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    height: 30px;
  }
  .img-link {
    width: 200px;
    height: 200px;
  }
  .links-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .content-title {
    font-size: 25px;
    padding-bottom: 25px;
  }
  .content-box {
    margin-bottom: 20px;
    max-width: 200px;
  }
  .play-button {
    padding: 35%;
  }
  .bg-hover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 99%;
    opacity: 0;
    transition: all 0.2s linear;
    display: block;
  }
  .img-box:hover .bg-hover {
    opacity: 1;
  }
  .img-box {
    position: relative;
  }
  .text-link {
    text-decoration: none;
    color: black;
    font-size: 13px;
  }
  .text-link:hover {
    color: #4f96c5;
  }
  .input-form{
      border-radius: 3px;
      border: 1px solid silver;
      width: 250px;
  }
  .search-form{
    width: 350px;
  }
  .podcast-title{
      font-size: 22px;
      padding: 25px 0;
  }
  @media(max-width:1400px){
      
  }