.nav-bar {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding-top: 25px;
  }
  .nav-logo-box{
      margin-bottom: 20px;
  }
  .nav-logo {
    height: 25px;
  }
  .nav-link {
    text-decoration: none;
    padding: 20px 20px;
    font-size: 16px;
    color: rgb(128, 115, 192);
    font-weight: 700;
  }
  .nav-link:hover {
    border-bottom: solid 1px #4f96c5;
    color: #4f96c5;
  }
  .top-container {
    left: 0px;
    width: 100%;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(223, 226, 230);
    display: flex;
    justify-content: center;
    position: fixed;
}
@media(max-width:1285px){
 
  .top-container{
   padding: 0 5px;
  //  width: 375px;
  }
}
@media (max-width: 510px) {
  .nav-bar{
    height: 40px;
    padding-top: 25px;
  }
  .nav-logo {
    height: 20px;
    padding-left: 10px;
  }
  .nav-link {
    font-size: 12px;
    padding: 20px 10px;
  }
}
@media (max-width: 375px) {
 
  .top-container{
    max-width: 375px;
  }
  .nav-bar{
    height: 25px;
    // width: 100%;
    padding-top: 10px;
  }
  .nav-logo {
    margin: 0;
    padding: 0;
  
  }
  .nav-link {
    font-size: 10px;
    padding: 20px 10px;
  }
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  